<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mpnp.user.mapper.MainMapper">
<!-- resultType : 조회 결과 값을 저장하기 위한 데이터타입(데이터 하나에 대한 타입 지정)
       parameterType:전달받은 파라메터 데이터 타입 지정(선택적)
 -->
 
<resultMap type="main" id="mainResult">
	<result column="productid" property="productid"/>
	<result column="name" property="productname"/>	
	<result column="price" property="price"/>	
	<result column="th_img" property="thimg"/>	
	<result column="sub_id" property="subid"/>	
	<result column="main_id" property="mainid"/>	
	<result column="reviewid" property="reviewid"/>
	<result column="star_score" property="star_score"/> 
	
	
	

</resultMap>

<!-- 대분류 조회  -->
 <select id="selectPrdList" resultMap="mainResult" parameterType="String">
 select p.name  ,p.price ,p.th_img ,p.productid,p.sub_id, s.main_id,round(avg(r.star_score),1) starScoreAvg, count(r.reviewid) reviewcnt
from  product p,order_detail o,review r ,sub_category s
where p.productid =o.productid and o.order_detailid=r.order_detailid and p.sub_id=s.sub_id and s.main_id=#{s.main_id}
group by p.name,p.price,p.th_img,p.productid,p.sub_id,s.main_id
order by productid 
 
 </select> 
<!--  -->
 <select id="selectStar" resultType="double" parameterType="String">
select round(avg(r.star_score),1) starScoreAvg
from product p,order_detail o, review r
where p.productid=o.productid and o.order_detailid=r.order_detailid and p.productid=#{productid}
 </select>

 </mapper>