<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mpnp.user.mapper.memberMapper">


<!-- 11.14: select 쿼리문 수정하기 -->
<!-- 11.15: 쿼리문 수정완료. select 쿼리문은 진도 나가는거 따라서 수정해야함 -->

<!-- 사용자-로그인 -->
<select id="selectLogin"  parameterType="memberVO" resultType="int">
select count(*) cnt
from member 
where id=#{id} and pass=#{pass} and status='정상'
</select>


<!-- 사용자-아이디찾기-->
<select id="selectMemberId" parameterType="memberVO" resultType="memberDomain">
select id,to_char(inputdate,'yyyy-MM-dd')inputdate 
from member 
where name=#{name} and phone=#{phone} and status='정상'
</select>

<!-- 사용자-비번찾기 -->
<select id="selectMemberPass" parameterType="memberVO" resultType="memberDomain">
select id, pass
from member 
where id=#{id} and name=#{name} and phone=#{phone} and status='정상'
</select>

<!-- 사용자-비번변경 -->
<update id="updateMemberPass" parameterType="memberVO">
update member 
set pass=#{pass}
where id=#{id}
</update>


<!-- 사용자-회원가입 아이디 중복확인-->
<select id="selectDupChk" parameterType="memberVO" resultType="int">
select count(*) cnt
from member 
where id=#{id}
</select>


<!-- 사용자-회원가입 
	 11.15: 상태, 가입일, 회원등급 추가
	 sysdate만 써도되지만 코드 딱 떨어지게 하기위해 ..  -->
<insert id="insertMember" parameterType="memberVO">
insert into member (id,nick,name,pass,phone,status,gradeid,inputdate
	<if test="pfimg!=null">
	 	,pfimg
	</if>
	)
values(#{id},#{nick},#{name},#{pass},#{phone},
#{status},#{gradeid},to_char(sysdate,'yyyy-MM-dd')
	<if test="pfimg!=null">
	 	,pfimg=#{pfimg}
	</if>
	)
</insert>




</mapper>