<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mpnp.myOrderMapper">
<!-- domain mapping -->
<resultMap type="MyOrderDomain" id="myOrderDom">
	<result column="inputdate" property="inputDateS"/>
	<result column="status" property="status"/>
	<result column="totalcnt" property="totalCnt"/>
	<result column="name_1" property="memberName"/>
	<result column="zipcode" property="zipcode"/>
	<result column="addr" property="addr"/>
	<result column="addr_detail" property="addrDetail"/>
	<result column="phone" property="phone"/>
	<result column="shipreq" property="shipReq"/>
	<result column="actual_price" property="actualPrice"/>
	<result column="productid" property="prdId"/>
	<result column="name" property="prdName"/>
	<result column="product_img" property="prdImg"/>
	<result column="order_detailid " property="orDetailId"/>
	<result column="orderid " property="orderId"/>
	<result column="RECEIVER " property="receiver"/>
	<result column="PRICE " property="prdPrice"/>
</resultMap>

<!-- 기간별 주문내역 조
 and #{findStartDate}< to_char(o.inputdate,'yyyy-mm-dd') and to_char(o.inputdate,'yyyy-mm-dd') < #{findEndDate} -->


<select id="selectOrderAllList" parameterType="MyOrderVO" resultType="MyOrderDomain">

SELECT o.ORDERID orderId,to_char(o.INPUTDATE,'yyyy-mm-dd') inputDateS, o.STATUS status, p.PRICE prdPrice,r.TOTALCNT totalCnt, p.NAME prdName,p.th_img thImg, r.ORDER_DETAILID orDetailId
FROM ORDERS o, PRODUCT p, ORDER_DETAIL r
WHERE (r.ORDERID = o.ORDERID and r.PRODUCTID = p.PRODUCTID ) and o.id=#{id}
<if test="findStartDate != null and findEndDate != null">
and #{findStartDate}  <![CDATA[< ]]> to_char(o.inputdate,'yyyy-mm-dd') and to_char(o.inputdate,'yyyy-mm-dd') <![CDATA[ < ]]>#{findEndDate}


</if>


</select>

<!-- 임시 할인율 조회 -->
<select id="selectDiscountRate" parameterType="String" resultType="int" >
SELECT DISCOUNT_RATE discountRate  , g.GRADEID gradeId
FROM MEMBER m, GRADE g
WHERE (m.GRADEID = g.GRADEID) and m.id =#{id}
</select>



<!-- 주문 상세내역 조회 -->
<select id="selectOrderDetail" parameterType="String" resultType="MyOrderDomain">
SELECT orderId ,id memberId,status, to_char(INPUTDATE,'yyyy-mm-dd') inputDateS, shipReq, ACTUAL_PRICE actualPrice
FROM ORDERS 
WHERE orderId=#{orderId}
</select>

<!-- 주문 상세 상품조회 -->
<select id="selectOrderPrdDetail" parameterType="String" resultType="MyOrderDomain">
SELECT p.NAME prdName, p.PRICE prdPrice, r.TOTALCNT totalCnt, th_img prdImg
FROM   ORDERS o, ORDER_DETAIL r, PRODUCT p
WHERE  (r.ORDERID = o.ORDERID and r.PRODUCTID = p.PRODUCTID )and o.orderId=#{orderId}
</select>

<!-- 주문 상세 배송지 조회 -->
<select id="selectOrderShip" parameterType="String" resultType="MyOrderDomain">
SELECT  d.NAME deliveryName, d.ZIPCODE zipcode, d.ADDR addr, d.ADDR_DETAIL addrDetail, d.RECEIVER receiver, d.PHONE phone
FROM   ORDERS o,DESTINATION d
WHERE  (o.DES_ID = d.DESID)  and o.orderId=#{orderId}
</select>

<!-- 기간 내 주문상태 조회(아이디,시작,끝)
and #{findStartDate} < to_char(o.INPUTDATE,'yyyy-mm-dd') and to_char(o.INPUTDATE,'yyyy-mm-dd') <#{findEndDate}
-->
<select id="selectOrderStatusCnt" parameterType="String" resultType="String">
 <![CDATA[
SELECT o.status
FROM ORDERS o,MEMBER m
WHERE (o.id = m.id ) and  m.id=#{id}

]]>
</select>

<!-- 주문취소누르면 수행되는 쿼리들 -->
<!-- 1. 가격 감산을 위한 쿼리 -->

<!-- 1) 주문코드의 상품 합 가격 조회:-->
<select id="selectPriceIndivisual" parameterType="String" resultType="int">
select sum(r.TOTALCNT * p.PRICE) cntPrice
from ORDER_DETAIL r, PRODUCT p ,ORDERS o
where (r.PRODUCTID = p.PRODUCTID and r.ORDERID = o.ORDERID) and o.ORDERID=#{orderId}

</select>

<!-- 2) 해당 주문코드의 주문전체 최종가격조회 : -->
<select id="selectPriceTotal" parameterType="String" resultType="int">
select sum(o.ACTUAL_PRICE) totalPrice
from ORDERS o,ORDER_DETAIL r
where (r.ORDERID =o.ORDERID) and o.ORDERID=#{orderId}
</select>

<!-- 주문취소 쿼리들 -->
<!-- 1) 주문 개별 취소 (cascade적용한 상태- 주문상세 ~리뷰까지 삭제됨)-->
<delete id="deleteCancelIndivisual" parameterType="String">
delete from ORDER_DETAIL where ORDER_DETAILID=#{orDetailId}
</delete>
<!-- 2)주문 전체 취소((cascade적용한 상태- 주문테이블 ~ 리뷰까지 삭제됨) -->
<delete id="deleteCancelTotal" parameterType="String">
delete from ORDERS where ORDERID=#{orderId}
</delete>

<!-- 페이징 :전체 게시물 수 조회 -->
<select id="selectTotalPageCount"  resultType="int">
select count(*) cnt
from ORDER_DETAIL
</select>


</mapper>