<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mpnp.user.mapper.mypageMapper">


<!-- 11.15: 쿼리문 수정완료. select 쿼리문은 진도 나가는거 따라서 수정해야함 -->

<!-- 마이페이지 첫화면-->
<select id="selectMypageMember"  parameterType="mypageVO" resultType="mypageDomain">
select name, gradeId,pfimg
from   member 
where  id=#{id}
</select>

<!-- 비밀번호확인(아이디) -->
<select id="selectPass" parameterType="mypageVO" resultType="int" >
select count(*) cnt
from   member 
where  id=#{id} and pass=#{pass}
</select>

<!-- 비밀번호변경(아이디) -->
<update id="updatePass" parameterType="mypageVO" >
update member 
set    pass=#{pass}
where  id=#{id}
</update>





<!-- 사용자-회원정보조회 -->
<select id="selectMemberInfo" parameterType="mypageVO" resultType="mypageDomain">
select pfimg,nick,id,name,pass,phone,gradeid
from member 
where id=#{id}
</select>


<!-- 사용자-회원정보수정 -->
<update id="updateMemberInfo" parameterType="mypageVO">
update member
<set>
	nick=#{nick},phone=#{phone}
	<if test="pfimg!=null">
	 	pfimg=#{pfimg}
	</if>
</set>
where id=#{id}
<!-- where id=#{id} and pass=#{pass} -->
</update>


<!-- 사용자-회원탈퇴1 -->
<select id="selectMember" parameterType="mypageVO" resultType="int">
select count(*) cnt
from member 
where id=#{id} and pass=#{pass}
</select>


<!-- 사용자-회원탈퇴2 -->
<update id="updateMemberStatus" parameterType="mypageVO">
update member 
set    pass='',pfimg='',nick='',name='',phone='',status='탈퇴',gradeId=''
where id=#{id} and  pass=#{pass}
</update>


<!-- 사용자-회원탈퇴3 -->
<insert id="insertQuitMember" parameterType="mypageVO">
insert into quitmember(id,inputdate) 
values(#{id},to_char(sysdate,'yyyy-MM-dd')) <!-- inputdate으로만 받아도되나 -->
</insert>



</mapper>