<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mpnp.orderMapper">
<!-- ProductDomain mapping -->
<resultMap type="ProductYSBDomain" id="prdYDom">
<result column="PRODUCTID" property="prdId"/>
<result column="NAME" property="prdName"/>
<result column="PRICE" property="price"/>

</resultMap>

<!--  Orderdomain mapping처리 -->
<resultMap type="OrderDomain" id="orderDom">
	<result column="name" property="memberName"/>
     <result column="phone" property="phone"/>
	<result column="gradename" property="gradeName"/>
	<result column="zipcode" property="zipcode"/>
	<result column="addr" property="addr"/>
	<result column="addr_detail" property="addrDetail"/>
	<result column="shipReq" property=" shipReq"/>
	<result column="discount_rate" property="discountRate"/>
	<result column="default_flag" property="default_flag"/>
	<result column="ship_name" property="shipName"/>
	
</resultMap>

<resultMap type="MyOrderDomain" id="myOrderDom">
	<result column="orderid" property="orderId"/>
	<result column="name" property="prdName"/>
	<result column="totalcnt" property="totalCnt"/>
	<result column="name_1" property="memberName"/>
	<result column="zipcode" property="zipcode"/>
	<result column="addr" property="addr"/>
	<result column="addr_detail" property="addrDetail"/>
	<result column="phone" property="phone"/>
	<result column="shipreq" property="shipReq"/>
	<result column="actual_price" property="actualPrice"/>
	<result column="productid" property="prdId"/>
</resultMap>
<!-- 검증완료 -->
<!-- //기본배송지 설정유무 -->
<select id="selectOrderChk" parameterType="String" resultType="String">
SELECT d.DEFAULT_FLAG
FROM  DESTINATION d, MEMBER m
WHERE (d.id = m.id) and m.id= #{id} and d.DEFAULT_FLAG='O'
</select>

<!-- 기본배송지가 있는 경우, 해당 아이디의 배송지별칭 조회 -->
<select id="selectShipName" parameterType="String" resultType="String">
select NAME
from DESTINATION
where id=#{id}

</select>

<!-- //배송지 변경 버튼 -->
<select id="selectChangeDestination" parameterType="ShipNameVO" resultMap="orderDom">
SELECT ZIPCODE, ADDR,ADDR_DETAIL
FROM  DESTINATION 
WHERE  id=#{id} and name=#{name}
</select>
<!--	// 주문기본내역조회  -->
<select id="selectOrderInfo" parameterType="String" resultMap="orderDom">

SELECT m.NAME, m.PHONE, g.GRADEID, g.NAME gradename, g.DISCOUNT_RATE
FROM MEMBER m, GRADE g
WHERE (  m.GRADEID = g.GRADEID) and m.ID =#{id}

</select> 

<!--기본배송지 조회 -->
<select id="selectDestination" parameterType="OrderVO" resultType="OrderShipDomain">
SELECT  d.ZIPCODE, d.ADDR, d.ADDR_DETAIL addrDetail, d.DEFAULT_FLAG,d.NAME shipName
FROM MEMBER m, DESTINATION d
WHERE (d.ID = m.ID ) and m.ID =#{id} and d.DEFAULT_FLAG=#{defaultFlag}

</select>

<!-- 해당 상품코드의 상품 조회 -->
<select id="selectProduct"  resultType="OrderPrdVO"  parameterType="String">

SELECT PRODUCTID prdId, NAME prdName , PRICE prdPrice 
FROM PRODUCT
WHERE PRODUCTID = #{prdId}

</select>  


<!-- 주문코드 조회 -->
<select id="selectOrderId" resultType="String" >
select concat('or_',lpad(seq_orders.nextval,7,0)) from dual
</select>

<!-- 주문정보 추가 -->
<insert id="insertOrderInfo" parameterType="OrderVO">
insert into ORDERS(ORDERID, ID, SHIPREQ, INPUTDATE, ACTUAL_PRICE,  STATUS)
values(#{orderId},#{id},#{shipReq},to_char(sysdate,'yyyy-mm-dd'),#{actualPrice}, '주문완료')
</insert>



<!-- 주문상세 추가
주문코드는 orderVO에 저장하고자 하는데.. 여기서 MyOderVO를 써버리면,..
조회된 주문코드는 두 곳에 저장해놔야 하는건가..... -->
<!--주문상세 추가할 때 카트아이디가 null이면 ""을 변수에 담아 추가시키자 -->
<insert id="insertOrderDetail"  parameterType="OrderVO">
insert into ORDER_DETAIL(ORDER_DETAILID, TOTALCNT, ORDERID, PRODUCTID,CARTID)
 values(concat('od_',lpad(seq_order_detail.nextval,7,0)),#{totalPrdCnt},#{orderId},#{prdId},#{cartId, jdbcType=VARCHAR})
</insert>



<!-- 배송지 추가 -->
<insert id="insertShipAddr" parameterType="OrderVO">
insert into DESTINATION(DESID, ID,  RECEIVER, PHONE, ZIPCODE, ADDR, ADDR_DETAIL, DEFAULT_FLAG,NAME)
 values(concat('des_',lpad(seq_destination.nextval,6,0)) ,#{id},#{receiver},#{receiver_phone},#{zipcode},#{addr},#{addrDetail},#{defaultFlag, jdbcType=VARCHAR},#{ship_name})
</insert>

<!-- 주문완료 내역 조회 -->
<!-- 주문완료내역 조회(여러 상품 중 하나만 나와야하니까 상품코드도 받아야 해 -->
<select id="selectOrderCompleteM" parameterType="String" resultType="MyOrderDomain">
select m.NAME membername, ORDERID orderId,ACTUAL_PRICE actualPrice, SHIPREQ shipReq
from ORDERS o,MEMBER m
where (o.ID = m.ID)  and ORDERID=#{orderId}
</select>
<select id="selectOrderCompleteP" parameterType="String" resultType="MyOrderDomain">
<![CDATA[
SELECT p.NAME prdName, o.TOTALCNT totalCnt, p.PRICE prdPrice, o.TOTALCNT * p.PRICE 
FROM ORDER_DETAIL o, PRODUCT p
WHERE (o.PRODUCTID = p.PRODUCTID) and o.ORDERID=#{orderId} 
]]>
</select>
<select id="selectOrderCompleteD" parameterType="String" resultType="MyOrderDomain">
SELECT d.RECEIVER receiver, d.ZIPCODE zipcode, d.ADDR_DETAIL addrDetail, d.ADDR addr, d.PHONE phone
FROM  DESTINATION d, MEMBER m, ORDERS o
WHERE (d.ID = m.ID and o.ID= m.ID) and o.ORDERID=#{orderId}
</select>




<!-- 주문 후 장바구니에서 해당 상품 삭제 -->

<delete id="deleteCartItem" >
delete
from cart c
where exists (select * from ORDER_DETAIL d
                  where d.cartid = c.cartid)
</delete>



</mapper>