<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mpnp.use.dao.mapper.ProductMapper">
<!-- resultType : 조회 결과 값을 저장하기 위한 데이터타입(데이터 하나에 대한 타입 지정)
       parameterType:전달받은 파라메터 데이터 타입 지정(선택적) select( 여기 들어가는거)
       domain과 setter명이 같아야함!!  
 -->
 
 <resultMap type="product" id="prdResult">
	<result column="productid" property="productid"/>
	<result column="name" property="productname"/>	
	<result column="price" property="price"/>	
	<result column="th_img" property="thimg"/>	
	<result column="info_img" property="infoimg"/>	
	<result column="status" property="status"/>	
	<result column="inputdate" property="inputdate"/>	
	<result column="reviewid" property="reviewid"/>
	<result column="star_score" property="star_score"/> 
	
 
 
 </resultMap>


<!-- 상품 중분류 리스트 코드 -->
<select id="selectprdList" resultType="product"
parameterType="kr.co.mpnp.user.vo.ProductVO">

select p.name,p.price,p.th_img,o.productid,count(r.reviewid) as reviewcnt ,Avg(r.star_score)  as staravg
from product p,order_detail o,review r
where p.productid=o.productid and o.order_detailid=r.order_detailid and p.sub_id=#{p.sub_id}
group by p.name,p.price,p.th_img,o.productid;

</select>



<!-- 상품상세보기코드  -->
<select id="selectPrddetail" resultMap="prdResult" parameterType="String">

select p.name,p.price,p.th_img,p.info_img,p.status,o.productid,count(r.reviewid) as reviewcnt ,round(avg(r.star_score),1) staravg
from product p,order_detail o,review r
where p.productid=o.productid and o.order_detailid=r.order_detailid and o.productid=#{productid}
group by p.name,p.price,p.th_img,o.productid,p.info_img,p.status
	
</select>

<!-- 장바구니 있는지 확인 코드 -->

<select id="selectConfirmCart" resultType="boolean" parameterType="kr.co.mpnp.user.vo.ProductVO">
select id,productid
from cart
where id=#{id} and productid=#{productid}
</select>

<!-- 찜여부 -->
<select id="selectConfirmWish"  resultType="boolean" parameterType="kr.co.mpnp.user.vo.ProductVO">
select id,productid
from wish
where id=#{id} and productid=#{productid}
</select>


<!-- 찜추가 -->
<insert id="insertWishList" parameterType="kr.co.mpnp.user.vo.ProductVO">
insert into wish(id,productid)
values(#{id},#{productid})
</insert>

<!-- 장바구니 추가  : 장바구니코드 시퀀스 추가후 넣는걸로~~-->
<!-- <insert id="insertWishList" parameterType="kr.co.mpnp.user.vo.CartVO">
insert into cart(id,productid)
values(#{id},#{productid})
</insert> -->


<!-- 찜 추가되어있으면 버튼 업데이트 -->



</mapper>