<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mpnp.use.dao.mapper.productMapper">
<!-- resultType : 조회 결과 값을 저장하기 위한 데이터타입(데이터 하나에 대한 타입 지정)
       parameterType:전달받은 파라메터 데이터 타입 지정(선택적)
 -->

 
 <!--  상품후기 별점(상품코드)-->
 <select id="selectStarAvg" resultType="double"  parameterType="String">
select ROUND(Avg(r.star_score),1)
from product p,order_detail o, review r
where p.productid=o.productid and o.order_detailid=r.order_detailid and p.productid=#{productid}
 
 </select>
 
 
 <!-- 상품후기리스트 -->
 <select id="selectProductReview" resultType="PreviewReviewDomain " parameterType="String">
 
 
 
 </select>
 </mapper>