<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="properties/database.properties"/>
		<typeAliases>
		<typeAlias type="kr.co.mpnp.user.domain.MainDomain" alias="main"/>
		<typeAlias type="kr.co.mpnp.user.domain.ProductDomain" alias="product"/>
		<typeAlias type="kr.co.mpnp.user.domain.ProductReviewDomain" alias="pr"/>
		<typeAlias type="kr.co.mpnp.user.domain.SearchDomain" alias="Search"/>
		 <typeAlias type="kr.co.mpnp.user.domain.MemberDomain" alias="memD"/>
         <typeAlias type="kr.co.mpnp.user.domain.MypageDomain" alias="mypageD"/>
		 <typeAlias type="kr.co.mpnp.user.vo.MemberVO" alias="memVO"/>
         <typeAlias type="kr.co.mpnp.user.vo.MypageVO" alias="mypageVO"/>
		
		
	</typeAliases>
	
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
      <mapper resource="kr/co/mpnp/user/mapper/MainMapper.xml"/>
      <mapper resource="kr/co/mpnp/user/mapper/ProductMapper.xml"/>
      <mapper resource="kr/co/mpnp/user/mapper/ProductReviewMapper.xml"/>
     <mapper resource="kr/co/mpnp/user/mapper/SearchMapper.xml"/> 
      <mapper resource="kr/co/mpnp/admin/mapper/AdminProductMapper.xml"/>
       <mapper resource="kr/co/mpnp/dao/mapper/memberMapper.xml"/>
    <mapper resource="kr/co/mpnp/dao/mapper/mypageMapper.xml"/>
  
 

  
  
  
  
  </mappers>
</configuration>